**SETS**

we can define(construct) a set using set() function

In [1]:
set1=set()

In [2]:
set1

set()

In [3]:
set1.add(10)

In [4]:
set1

{10}

In [6]:
set1.add(20)

In [7]:
set1

{10, 20}

In [8]:
set1.add(30)

In [9]:
set1.add(40)

In [10]:
set1

{10, 20, 30, 40}

WE CAN CONVERT A STRING OR A LIST INTO SET BY PASSING INTO THE SET FUNCTION