-_**FOR LOOP**

In [2]:
for _ in "harsit":
    print(_)

h
a
r
s
i
t

In [4]:
for _ in [1,2,3,4,5]:
    print(_)

1
2
3
4
5

In [5]:
for _ in (1,2,3,4,5):
    print(_)

1
2
3
4
5

In [18]:
names={1:'harry',2:'ron',3:'hermione'}

In [20]:
for _ in names:
    print(names[_])

harry
ron
hermione

In [19]:
print(names)

{1: 'harry', 2: 'ron', 3: 'hermione'}

In [21]:
prime=[1,3,5,7,11]

In [25]:
for _ in prime:
    print(_)

1
3
5
7
11

In [26]:
for _ in prime:
    print(_)

1
3
5
7
11

In [27]:
for _ in prime:
    print("hello")

hello
hello
hello
hello
hello

In [28]:
for _ in prime:
    print(_)

1
3
5
7
11

In [29]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [33]:
for _ in numbers:
    if _%2==0:
        print(f"{_} is a even number")
    else:
        print(f"{_} is a odd number")

1 is a odd number
2 is a even number
3 is a odd number
4 is a even number
5 is a odd number
6 is a even number
7 is a odd number
8 is a even number
9 is a odd number
10 is a even number

In [34]:
sum=0

In [36]:
for _ in numbers:
    sum+=_
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [38]:
sum=0
for _ in numbers:
    sum+=_
print(sum)

55

**tuple unpacking**

In [40]:
tupleList=[(1,2),(3,4),(5,6)]

In [41]:
for _ in tupleList:
    print(_)

(1, 2)
(3, 4)
(5, 6)

*unpacking*

In [46]:
for a,b in tupleList:
    print(a,b)

1 2
3 4
5 6

In [47]:
for a,b in tupleList:
    print(a)

1
3
5

In [48]:
for a,b in tupleList:
    print(b)

2
4
6

In [51]:
tupleList2=[('a','b','c'),('d','e','f'),('g','h','i')]

In [56]:
for a,b,c in tupleList2:
    print(f"{a} is the first item in tuple")
    print(f"{b} is the second item in tuple")
    print(f"{c} is the third item in tuple\n")

a is the first item in tuple
b is the second item in tuple
c is the third item in tuple

d is the first item in tuple
e is the second item in tuple
f is the third item in tuple

g is the first item in tuple
h is the second item in tuple
i is the third item in tuple

**For Loop in Dictionary**

In [66]:
months={1:'jan',2:'feb',3:'mar'}

In [67]:
for _ in months:
    print(_)

1
2
3

By default for loop in dictionaries iterate through keys

In [71]:
d = {'key1':1,'key2':2,'key3':3}

In [74]:
for item in d.items():
    print(item)

('key1', 1)
('key2', 2)
('key3', 3)

In [75]:
months = {1:'jan',2:'feb',3:'mar'}

In [76]:
for _ in months.items():
    print(_)

(1, 'jan')
(2, 'feb')
(3, 'mar')

In [85]:
for _ in months.values():
    print(_)

jan
feb
mar

we can use tuple unpacking to unpack dictionary items

In [77]:
for a,b in months.items():
    print(a,b)

1 jan
2 feb
3 mar

In [83]:
for a,b in months.items():
    print(f"month number {a} is {b}")

month number 1 is jan
month number 2 is feb
month number 3 is mar

**break, continue and pass *statements***

In [87]:
number=[1,2,3,4,5]

*pass statement*

it does nothing at all, often used as a placeholder for loops or conditions to not get an error

In [96]:
for _ in number:
    pass

In [91]:
for _ in number:
    if _%2==0:
        pass
    else:
        print(f'{_} is a odd prime number')

1 is a odd prime number
3 is a odd prime number
5 is a odd prime number

In [99]:
for _ in number:
    if _%2==0:
        pass
        print("print statement after pass\n")
    else:
        print(f'{_} is a odd prime number')

1 is a odd prime number
print statement after pass

3 is a odd prime number
print statement after pass

5 is a odd prime number

*break statement*

it breaks out of the closest enclosing loop

In [93]:
for _ in number:
    if _==5:
        break;
    print(_)

1
2
3
4

*continue statement*

it goes to the start of the closest enclosing loop

*diff b/w pass and coninue:*  anything written after pass also gets executed as pass does nothing at all.
                              statements written after continue will not be executed.

In [109]:
for _ in numbers:
    if (_==5 or _==6):
        continue;
    print(_)

1
2
3
4
7
8
9
10

In [110]:
for _ in numbers:
    if _==5 or _==6:
        continue;
    print(_)

1
2
3
4
7
8
9
10